<div class="container">
  <h2 class="h2">Phone Book</h2>
  <div class="card ">
    <div class="card-header">
      <p class="card-title">Add new entry</p>

    </div>

    <div class="card-body">
      <form [formGroup]="addEntryForm" (ngSubmit)="addEntry()">
        <input type="text" class=" form-control" formControlName="name" value="" placeholder="name">
        <input type="text" class="form-control" formControlName="phone_number" value="" placeholder="phone number">

        <textarea rows="4" cols="50" type="text" class=" form-control" formControlName="address" placeholder="address"></textarea>

        <button [disabled]="!addEntryForm.valid" class="btn btn-success form-control">Add</button>

      </form>

    </div>
  </div>
  <h3 class="h3">Contact list</h3>
  <div class="card">
    <div class="card-body">

      <input [(ngModel)]="searchStr" (keyup)="searchContacts(searchStr)" type="text" class=" form-control" placeholder="filter by name or phone number">
      <button (click)="sortContacts('asc')" class="btn btn-secondary"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i> Sort Asc</button>
      <button  (click)="sortContacts('desc')"  class="btn btn-secondary pull-right"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i> Sort Desc</button>
    </div>
  </div>

  <div  *ngFor="let contact of contacts" >
    <div *ngIf="contact.show"  class="card">

      
      <div class="card-body">
        

        <input type="text" class=" form-control" [(ngModel)]="contact.name">
        <input type="text" class="form-control" [(ngModel)]="contact.phone_number">
        <textarea rows="4" cols="50" type="text" class=" form-control" [(ngModel)]="contact.address"></textarea>
        <button class="btn btn-success" (click)="editEntry(contact)">Save </button>
        <button class="btn btn-danger pull-right" (click)="deleteEntry(contact)">Delete</button>
        
        
      </div>
      
      
    </div>
  </div>

</div>